# Strings and lists

In [4]:
#format strings
name=input("Enter your name  ")
age=(int)(input("Enter your age  "))
print(f"my name is {name} and age is {age}") #fstrings
print('My name is {} and I am {} years old'.format(name,age))

Enter your name  Arihant Jain
Enter your age  21
my name is Arihant Jain and age is 21
My name is Arihant Jain and I am 21 years old

In [5]:
print('My name is {a} and I am {n} years old'.format(a=name,n=age))

My name is Arihant Jain and I am 21 years old

In [6]:
cost=100
profit=20
print('The total cost price is {} and the profit is {} '.format(cost+profit,profit))

The total cost price is 120 and the profit is 20

In [11]:
print(f'The total cost price is {cost+profit} and the profit is {profit} ')

The total cost price is 120 and the profit is 20

In [7]:
a=1.99333
'{:.3f}'.format(a)#will round off to 3 decimal places

'1.993'

In [13]:
f'{a:.3f}'

'1.993'

In [8]:
list1=[1,2,3,4,5] #we can call functions in format
'{}'.format(max(list1))

'5'

# write a program to convert celcius to fahreneit with 2 decimal places using format function

In [9]:
celsius=float(input("Enter the temp"))
result="The fahreneit is {}".format(celsius*(9/5)+32)
print(result)

Enter the temp24
The fahreneit is 75.2

# generate a table of powers

In [10]:
for i in range(1,11):
    squared=i**2
    print(i,squared)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

# List

In [14]:
lst1=[1,2,3,4,5]
lst1

[1, 2, 3, 4, 5]

In [15]:
type(lst1)

list

In [16]:
mixed=[1,2,"jjh",1.2]#heterogeneous structure
mixed

[1, 2, 'jjh', 1.2]

In [17]:
mixed[0]

1

In [18]:
mixed[0:2]#slicing is possibel

[1, 2]

In [19]:
mixed*3
#repetition by *

[1, 2, 'jjh', 1.2, 1, 2, 'jjh', 1.2, 1, 2, 'jjh', 1.2]

In [20]:
# membership keywords
1 in mixed

True

In [21]:
1 not in mixed

False

In [22]:
l=[23,1,0,12,45,-1,46]

In [23]:
l

[23, 1, 0, 12, 45, -1, 46]

In [25]:
for i in range(len(l)):
    l[i]=l[i]**2
l

[529, 1, 0, 144, 2025, 1, 2116]

In [28]:
lst1=[1,2,3]
lst2=[4,5,6]
lst1.append(lst2)
lst1

[1, 2, 3, [4, 5, 6]]

In [29]:
lst1=[1,2,3]
lst2=[4,5,6]
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6]

In [30]:
lst1.count(1)

1

In [31]:
lst2.insert(0,3)#(index,the value to insert)

In [32]:
lst2

[3, 4, 5, 6]

In [33]:
lst2.remove(3) #remove the occurence the first occurence of an element in the list

In [34]:
lst2

[4, 5, 6]

In [35]:
lst2.pop(2) #will remove the desired index and if no paramter is passed it will remove the last index

6

In [36]:
lst2

[4, 5]

In [37]:
del lst2[0] # similar to pop but will not return the deleted element from the list

In [38]:
lst1.reverse()
lst1

[6, 5, 4, 3, 2, 1]

In [39]:
l3=[1,2,2,3,4,4,5]
duplicates=[]
for i in l3:
    if l3.count(i)>1 and i not in duplicates:
        duplicates.append(i)
duplicates

[2, 4]

In [41]:
# using collections
from collections import Counter
c=Counter(l3)
c

Counter({1: 1, 2: 2, 3: 1, 4: 2, 5: 1})

In [42]:
for i,j in c.items():
    if j>1:
        print(i)

2
4

# write a program which is a multiple of 7 but not a multiple of 5 and store it in a list

In [43]:
lst=[]
for i in range(202,321):
    if i%7==0 and i%5!=0:
        lst.append(i)
lst

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

In [45]:
# for 3 dimensional list 
# list[block_index][row_index][col_index]