In [1]:
#check if a element is in a list
li=[1,2,3,'a','b','c']
'a' in li

True

In [2]:
name=["snow","chewy","Bubble"]
animal=["cat",'dog','fish']
age=[1,2,3]
list(zip(name,animal,age))

[('snow', 'cat', 1), ('chewy', 'dog', 2), ('Bubble', 'fish', 3)]

In [3]:
for i in list(zip(name,animal,age)):
    print(i)

('snow', 'cat', 1)
('chewy', 'dog', 2)
('Bubble', 'fish', 3)

In [7]:
for i,_ in enumerate(name):#enumerate provides indexes to values of the lists
    print(animal[i])

cat
dog
fish

In [9]:
lst=[23,65,19,90]
lst[0],lst[1]=lst[1],lst[0]
lst

[65, 23, 19, 90]

In [11]:
#program to check unique numbers in a list
l1=[1,2,3,2,4,5,3,2,3,4,2,3,5,6,7,8,9]
unique=[]
for i in l1:
    if i not in unique:
        unique.append(i)
unique

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#python program to create 5 random integers

In [14]:
import random
random.randint(0,100)#between 0 to 100 produce random integers
l1=[]
for i in range(15):
    l1.append(random.randint(0,100))
l1

[79, 10, 22, 4, 23, 86, 85, 78, 83, 2, 22, 53, 60, 54, 100]

In [15]:
s=0#to store sum of the list
for i in l1:
    s+=i
s

761

In [16]:
lst_even=[]
for i in l1:
    if(i%2==0):
        lst_even.append(i)
lst_even

[10, 22, 4, 86, 78, 2, 22, 60, 54, 100]

In [17]:
#sorting the names of the strings in a list based on the number of letter

In [20]:
word_list=["apple","banana","pear","grapes"]
sorted(word_list,key=len)

['pear', 'apple', 'banana', 'grapes']

In [21]:
#seperate the non-numeric values from a given list
l1=[1,"he",34,"hi","banana",233,45]
result=[]
for i in l1:
    if not isinstance(i,(int,float)):
        result.append(i)
result

['he', 'hi', 'banana']

In [22]:
isinstance(2,int)#returns true if the value is of the given type

True

In [23]:
ord('a')#will return the ascii value of the character

97

In [24]:
str="Hello how are you?"# to convert each character to its corresponding ascii value
for i in str:
    print(ord(i))

72
101
108
108
111
32
104
111
119
32
97
114
101
32
121
111
117
63

In [25]:
#program to find common elements in 2 lists
l1=[1,2,3,4,5]
l2=[3,4,5,6,7]
result=[]
for i in l1:
    if i in l2:
        result.append(i)
result

[3, 4, 5]

In [29]:
m=[i for i in range(1,11) if i%2==0]

In [30]:
m

[2, 4, 6, 8, 10]

In [37]:
m=[i**2 for i in range(1,20)]

In [38]:
m

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [41]:
lst1=[1,2,3]
lst2=[10,20,30]
res=[(i,j) for i in lst1 for j in lst2]
res

[(1, 10),
 (1, 20),
 (1, 30),
 (2, 10),
 (2, 20),
 (2, 30),
 (3, 10),
 (3, 20),
 (3, 30)]

In [42]:
#write a pythom to unzip  a list of tuples into individual lists
list_of_tuples=[(1,'a'),(2,'b')]
list(zip(*list_of_tuples))

[(1, 2), ('a', 'b')]